@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.numText {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  color: #16f6fe;
  -webkit-text-stroke-width: 1px;
}

.scrollbar-container {
  margin-top: 3vw;
  cursor: pointer;
  height: 0.5vw;
}

.scrollbar {
  cursor: grab;
  width: 10vw;
  background-color: #008eed;
  transition: all ease 0.5s;
}

.scrollbar:active {
  cursor: grabbing;
  background-color: #025085;
}

.carousel {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

/* SeamlessIntegration.css */
@keyframes scroll-full {
  0% {
    transform: translateY(0%);
  }
  20% {
    transform: translateY(100%);
  }
  40% {
    transform: translateY(200%);
  }
  60% {
    transform: translateY(300%);
  }
  80% {
    transform: translateY(400%);
  }
  100% {
    transform: translateY(0%);
  }
}

.animate-scroll-full {
  animation: scroll-full 6s linear infinite;
}
